.rvt-file-picker {
  width: 100%;
  text-align: center;
  padding: 50px;
  background-color: rgb(247, 242, 253);
  cursor: pointer;
  color: #038c7f;
  & input {
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
  }
}
