.rvt-player-cont {
  position: relative;
  // &::before {
  //   -webkit-user-drag: none;
  //   -khtml-user-drag: none;
  //   -moz-user-drag: none;
  //   -o-user-drag: none;
  //   user-drag: none;

  //   -webkit-touch-callout: none; /* iOS Safari */
  //   -webkit-user-select: none; /* Chrome/Safari/Opera */
  //   -khtml-user-select: none; /* Konqueror */
  //   -moz-user-select: none; /* Firefox */
  //   -ms-user-select: none; /* Internet Explorer/Edge*/
  //   user-select: none; /* Non-prefixed version, currently
  //                                 not supported by any browser */

  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }
  & .rvt-player-time-range-cont {
    margin: 5px;
    text-align: center;
    & .rvt-player-time-range {
      color: rgb(143, 143, 143);
      font-size: 14px;
      padding: 5px;
    }
  }
}
