.rvt-status {
  width: 100%;
  text-align: center;
  padding: 50px;
  background-color: #ccfdf856;
  cursor: pointer;
  font-size: 20px;
  color: #038c7f;
  & input {
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
  }
}
